<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width">
		<title>Plaza, a place for discussion</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	
	</head>
	
	<body>
        	<div class="container">
			<header>
				<h>PLAZA</h>


				{% if loggedin %}
				<p><a href="login.html">Login</a></p>
				{% else %}
				<p>Welcome, {{username}}</p>
				<p><a href="/signout.html">Sign out</a></p>
				{% endif %}
			</header>
			<div class="post-section">
				{% for post in posts %}
      				<div class="post">
						
					<h><a href="/p/{{post.pid}}">{{post.title}}</a> </h>
					<p>Comments: {{post.commentcount}}</p>
      				</div>
				{% endfor %}
			</div>
    		</div>
	
  	</body>

</html>
	
