<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width">
		<title>Plaza, a place for discussion</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	
	</head>
	
	<body>
        	<div class="container">
			<header>
				<h>PLAZA</h>
			</header>
			<div class="post-section">
				{% for post in posts %}
      				<div class="post">
				
					<h><a href="/p/{{post.postid}}">{{post.title}}</a> </h>
					<p>{{post.commentcount}}</p>
      				</div>
				{% endfor %}
			</div>
    		</div>
	
  	</body>

</html>
	
