<!DOCTYPE html>
<html>
	<head>
		<title>Start a discussion</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	</head>	

	<body>
		<div class="container">
			<header>
				<h>PLAZA</h>
			</header>
			<div class="login">
				<form action="" method="post" enctype="multipart/form-data">
					Username:<br>
					<input type="text" name="username">
					<br>
					Password:<br>
					<input type="password" name="password">
					<br>
					<input type="submit" value="login">
				</form>
			</div>
		</div>
		
	</body>

</html>