<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width">
		<title>Plaza, a place for discussion</title>
		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	
	</head>
	
	<body>
        	<div class="container">
			<header>
				<h>PLAZA</h>
			</header>
			<div class="post-section">
      				<div class="post">
      					
					<form>
						Post Title:<br>
						<input type="text" name="title">
						<br>
						Post Text:<br>
						<input type="text" name="content">
						<br>
						<input type="submit" value="Submit">
					</form>
				
				
				</div>
			</div>
    		</div>
	
  	</body>

</html>
	
