<!DOCTYPE html>
<html>
	<head>
		<title>Plaza</title>

		<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	</head>

	<body>
		<div class="container">
			<header>
				<div class="header">
					<a href="/"><h>PLAZA</h></a>
				</div>
			</header>

			<section id="content">
				<div class="post">
					<h1>{{posttitle}}</h1>
					<p>{{posttext}}</p>
				</div>
				{% for comment in comments %}
				<div class="comment">
					<h>{{comment.commentid}}</h>
					<p>{{comment.commenttext}}</p>
					
				</div>
				{% endfor %}


				<p><a href="/p/{{postid}}/makecomment.html">Respond</a></p>
			</section>
		</div>
	</body>
</html>
			




